version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    image: syashsingh/mean-backend:latest
    container_name: backend
    restart: always
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/mean-crud
    ports:
      - "3000:3000"

  frontend:
    image: syashsingh/mean-frontend:latest
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:4200"

volumes:
  mongo-data:
